# Gemini API kalitlari (ai.google.dev saytidan olinadi)
# Bir nechta kalit qo'shish mumkin: GEMINI_API_KEY_1, GEMINI_API_KEY_2 va h.k.
GEMINI_API_KEY_1=AIzaSyD7luyp6jfh2gfSmHieJmVYl0Qvx4dcXGk
GEMINI_API_KEY_2=AIzaSy...
